    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"> {{{ companyName }}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
              href="#" id="usersDropDown" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false">Users</a>
            <div class="dropdown-menu" aria-labelledby="usersDropDown">
              <a class="dropdown-item" href="/users/list">List Users</a>
              <a class="dropdown-item" href="/users/checkGroupMembership">Check Group Membership</a>
              <a class="dropdown-item" href="/users/enable-disable">Enable / Disable User</a>
              <a class="dropdown-item" href="users/verify-creds">Verify Credentials</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
              href="#" id="groupsDropDown" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false">Groups</a>
            <div class="dropdown-menu" aria-labelledby="groupsDropDown">
              <a class="dropdown-item" href="/groups/list">List Groups</a>
              <a class="dropdown-item" href="/groups/listMembers">Check Group Membership</a>
            </div>
          </li>
          -->
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/users">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>