<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="nodejs stub site">
  <meta name="author" content="algorythm">
  
  <link rel="icon" href="/public/favicon.ico">

  <title> {{{ title }}} </title>

  <!-- Bootstrap/FontAwesome CSS -->
  <link rel="stylesheet" href="/public/vnd/bootstrap.min.css">
  <link rel="stylesheet" href="/public/vnd/font-awesome.min.css">
  <!-- app specific overrides -->
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>

  {{> nav }}

  {{> main-content }}

  {{> footer }}

  <!-- jQuery first, then Bootstrap -->
  <script src="/public/vnd/jquery-3.5.1.min.js"></script>
  <script  src="/public/vnd/bootstrap.min.js"></script>
  <script  src="/public/vnd/bootstrap.bundle.min.js"></script>
  <!-- app specific code -->
  <script src="/public/js/app.js"></script>
</body>

</html>