<h2 class="text-center">welcome to the test website!</h2>

<form>
  <input type="text" id="msgText" name="msgText" />
  <input type="submit" id="msgSubmit" value="Send!" />
</form>

<div id="msgData" style="visibility: hidden;"></div>